<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewUserPage</title>
    <style>
        body {
            font-size: large;
        }

        table {
            border-collapse: inherit;
        }

        th, td {
            border: 0.5px solid;
            align-content: center;
        }
    </style>
</head>
<body>
<h2>Создать нового пользователя</h2>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name" required>
    <br>
    <br>
    <label for="surname">Фамилия: </label>
    <input type="text" th:field="*{surname}" id="surname" required>
    <br>
    <br>
    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age" required>
    <br>
    <br>
    <label for="username">Логин: </label>
    <input type="email" th:field="*{username}" id="username" required>
    <br>
    <br><label for="password">Пароль: </label>
    <input type="password" th:field="*{password}" id="password" required>
    <br>
    <br>
    <label>Права доступа:
        <input type="checkbox" name="roles"
               th:each="role : ${rolesAdd}"
               th:value="${role.getId()}"
               th:text="${role.getName()}"
               th:field="*{role}"
        />
    </label>
    <br>
    <br>
    <input type="submit" value="Добавить пользователя">
</form>

</body>
</html>